h1 a{
    @include text-hide {
        width: 96px;
        height: 31px;
        background-image: url(../images/DOYOGA-logo.png);
    }
}
.logo {
    @include text-hide {
        width: 96px;
        height: 31px;
        background-image: url(../images/DOYOGA.png);
    }
}
