<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <script>
    (function(d) {
      var config = {
        kitId: 'eoe2kti',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!--datepicker-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
  
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-gray bg-primary">
    <div class="container d-lg-flex justify-content-lg-between">
      <h1 class="py-3"><a href="./index.html">DOYOGA</a></h1>
      <!-- .navbar-toggler 漢堡式選單按鈕 -->
      <button class="navbar-toggler fs-lg py-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- 漢堡式選單Icon -->
        <span class="material-icons-outlined fs-lg text-secondary">
          view_headline
        </span>
      </button>
      <!-- .collapse.navbar-collapse 用於外層中斷點群組和隱藏導覽列內容 -->
      <!-- 選單項目&漢堡式折疊選單 -->
      <div class="collapse navbar-collapse flex-grow-0 pos-absolute top-100 start-0 w-100 pos-lg-relative top-lg-0 start-lg-0 w-lg-auto z-index-5" id="navbarCollapse">
        <ul class="navbar-nav">
          <li
            class="nav-item  hover-nav-accent hover-text-bold background-primary">
            <a class="nav-link fs-4 fs-md-6 text-center text-gray py-2 " href="./course.html">課程介紹</a>
          </li>
          <li
            class="nav-item hover-nav-accent hover-text-bold background-primary">
            <a class="nav-link fs-4 fs-md-6 text-center text-gray py-2" href="./surrounding.html">瑜伽空間</a>
          </li>
          <li
            class="nav-item hover-nav-accent hover-text-bold background-primary">
            <a class="nav-link fs-4 fs-md-6 text-center text-gray py-2" href="#">當月課表</a>
          </li>
        </ul>
      </div>
      <div class="d-lg-flex align-items-center d-none ">
        <ul class="navbtn-list d-flex">
          <li class="me-2"><a href="./reservation.html" class="btn btn-outline-secondary rounded-3 hover-text-white">立即預約</a></li>
          <li><a href="#" class="btn btn-outline-secondary rounded-3 hover-text-white">聯絡我們</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--右邊固定icon-->
  <div class="d-none d-lg-flex flex-column pos-fixed end-0 top-25 me-2 z-index-4">
    <ul>
        <li><a href="#">
          <i class="bi bi-facebook fs-xl text-secondary"></i>
        </a></li>
        <li><a href="#">
          <i class="bi bi-instagram fs-xl text-secondary"></i>
        </a></li>
        <li><a href="#">
          <i class="bi bi-messenger fs-xl text-secondary"></i>
        </a></li>
      </ul>
  </div>
  <%- contents %>
  <section class="bg-secondary border-bottom border-white">
    <div class="container">
      <!--subscribe-->
      <div class="py-3 d-lg-flex justify-content-lg-between
       w-md-50 w-lg-100">
        <p class="fs-3 fs-md-2 text-white">現在訂閱，獲得課程優惠碼！</p>
        <div class="input-group mt-1 mt-lg-0 w-lg-33">
          <input type="text" class="form-control py-1 px-2 fs-4" placeholder="輸入您的電子信箱" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-accent text-white py-1 px-2" type="button" id="button-addon2">訂閱</button>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-secondary">
    <div class="container pt-3 pb-4 text-white d-flex justify-content-between">
      <div class="d-md-flex align-items-end justify-content-between w-md-66">
        <div>
          <div>
            <a href="./index.html" class="logo">DOYOGA</a>
          </div>
          <ul class="fw-light">
            <li><a href="./course.html" class="mt-1 hover-text-bold">課程介紹</a></li>
            <li><a href="./surrounding.html" class="mt-1 hover-text-bold">瑜珈空間</a></li>
            <li><a href="#" class="mt-1 hover-text-bold">當月課表</a></li>
          </ul>
        </div>
        <p class="mt-1">© 2021. All Rights Reserved.</p>
      </div>
      <ul class="d-flex">
        <li class="me-1"><a href="#">
          <i class="bi bi-facebook fs-3"></i>
        </a></li>
        <li class="me-1"><a href="#">
          <i class="bi bi-instagram fs-3"></i>
        </a></li>
        <li><a href="#">
          <i class="bi bi-messenger fs-3"></i>
        </a></li>
      </ul>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>