.hover-text-white:hover {
    color: $white;
}
.hover-nav-accent:hover,.hover-nav-accent:focus {
    @include media-breakpoint-down(md){
        background-color: $accent;
    } 
}
.hover-bg-accent:hover {
    background-color: $accent;
}
.hover-bg-secondary:hover {
    background-color: $secondary;
}
.hover-text-bold:hover {
    font-weight: bold;
}
.background-primary {
    background-color: $primary;
}
.display-none {
    display: none;
}
