$utilities:map-merge(
    $utilities,(
        "font-size":map-merge(
            map-get($utilities,"font-size"),
            (
              responsive: true,
            )
        ),  
        "position": map-merge(
            map-get($utilities,"position"),
            (
              responsive: true,
              class: pos
            )
          ),
        "width": (
            property: width,
            class: w,
            responsive: true,
            values: (
              25: 25%,
              16: 16.66%,
              33: 33.33%,
              50: 50%,
              41:41%,
              66: 66.66%,
              75: 75%,
              100: 100%,
              auto: auto
            )
        ),
        "font-weight": map-merge(
            map-get($utilities,"font-weight"),
            (
              responsive: true,
            )
        ),
        "z-index": (
            property: z-index,
            values: (
                5: 5,
                4: 4,
                3: 3,
                2: 2,
                1: 1,
            )
        ),
        "margin-start": map-merge(
            map-get($utilities,"margin-start"),
            (
              values: (
                n:-16%,
              )
            )
        ),
        "opacity": (
          property: opacity,
          values: (
            0: 0,
            25: .25,
            50: .5,
            75: .75,
            90: .90,
            100: 1,
          )
        ),
    )
)