.banner {
    height: 560px;
    background: url(../images/photo-1612157777902-5382bc6e864b.jpeg)bottom center/cover;
}

.benefit-img {
    height: 420px;

    @include media-breakpoint-between(md, lg) {
        height: 252px;
    }
}

.teacher-banner {
    height: 628px;
}

.teacher-img {
    width: 48px;
    height: 48px;

    @include media-breakpoint-up(md) {
        width: 96px;
        height: 96px;
    }
}

.size-s {
    @include media-breakpoint-up(md) {
        width: 68px;
        height: 68px;
    }
}

.surrounding-img-1,
.surrounding-img-2 {
    height: 210px;
}

.surrounding-img-1 {
    @include media-breakpoint-up(md) {
        height: 266px;
    }

    @include media-breakpoint-up(lg) {
        height: 444px;
    }
}

.surrounding-img-2,
.surrounding-img-3 {
    @include media-breakpoint-up(md) {
        height: 117px;
    }

    @include media-breakpoint-up(lg) {
        height: 207px;
    }
}

.plan-img {
    height: 243px;
    @include media-breakpoint-up(md) {
        height: 238px;
    }
}
/*course*/
.img-course-aerial {
    height: 218px;
    @include media-breakpoint-up(md) {
        height: 341px;
    }
}
.img-course {
    height: 196px;
}
.img-course-basic-modal {
    height: 165px;
    @include media-breakpoint-up(md) {
        height: 418px;
    }
}
.course-teacher-card {
    height: 418px;
}
.img-course-teacher {
    height: 95px;
}

/*surrounding*/
.img-surrounding {
    height: 350px;
    @include media-breakpoint-between(md, lg) {
        height:210px;
    }
}
.img-course-recommend {
    height: 196px;
    @include media-breakpoint-between(md, lg) {
        height:161px;
    }
}
.map {
    height: 195px;
    @include media-breakpoint-up(md) {
        height: 323px;
    }
}